:root {
  --nav-color: white;
  --dark-blue: rgb(33, 28, 106);
  --light-blue: rgb(89, 180, 195);
  --green: rgb(116, 226, 145);
  --yellow: rgb(239, 243, 150);
  --dark-orange: rgb(255, 137, 17);
  --light-orange: rgb(251, 168, 52);
  --lightest-orange: rgba(251, 168, 52,0.5)
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}

body {
  background-color: var(--light-blue);
}

/* Dark/Light Mode  */

.dark-light-switch {
  color: var(--nav-color);
}
.dark-header {
  background-color: var(--dark-blue) !important;
}
.dark-footer{
  background-color: var(--dark-blue);
}
.dark-content{
  background-color:rgb(0, 0, 0, 0.8)  !important;
  color: var(--nav-color)
}
.dark-forms {
  background-color:var(--light-blue) !important;
}
.button-up {
  background-color: var(--light-blue) !important;
  color: var(--nav-color) !important;
}
.button-up .fa-solid {
  color: var(--nav-color) !important;
}
.dark-black {
  background-color: black !important;
}


/* HEADER  */

.header-container {
  background-color: var(--light-blue);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  flex-grow: 1;
}

.logo-wrap {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: whitesmoke;
}

.logo img {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-blue);
  height: 70px;
  width: 85vw;
  margin: 0 auto;
}

header nav {
  margin-right: 10px;
  display: block;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
}

.dark-light {
  display: inline-block;
  margin-right: 30px;
  cursor:pointer;
}

.menu-icon {
  margin-right: 30px;
  display: none;
}

@media (max-width: 600px) {
  header {
    position: relative;
  }

  .menu-icon {
    display: block;
    color: whitesmoke;
    font-size: 25px;
  }

  .dark-light {
    display: block;
    text-align: right;
  }

  header nav {
    position: absolute;
    background-color: rgb(89, 180, 195, 0.5);
    top: 70px;
    width: 100%;
    display: none ;
  }

  header nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 600px) {
  header nav{
    display: block !important;
  }
}

@media (max-width:450px) {
  .welcome-intro {
    margin-bottom: 50px !important;
  }
}

/* WELCOME SECTION  */

.welcome-section {
  z-index: 2;
  height: calc(100vh);
  background-image: url("./images/doma/silnice-mraky-kojal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-title {
font-size: 60px;
margin-top: 100px;
margin-bottom: 15px;
}

.welcome-intro {
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
    max-width: 600px;
}

.welcome-gallery {
    background-color: rgba(89, 180, 195, 0.5);
    padding: 20px;
    height: 340px;
    width: 85vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img1-wrapper, .img2-wrapper, .img3-wrapper {
    width: 470px;
    height: 300px;
    border: 3px solid var(--dark-blue);
    border-radius: 10px;
    transition: transform 0.25s;
}

.img1-wrapper:hover, .img2-wrapper:hover, .img3-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.img1-wrapper img,.img2-wrapper img,.img3-wrapper img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}


/* CONTENT SECTION - FORMS  */


.content-narrow-container {   
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content:space-evenly;
  gap: 50px;
}

.btn-up {
  position:fixed ;
  display:none;
  bottom: 5px;
  right: 7.2vw;
  background-color: var(--dark-orange);
  border-radius: 10px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.register-wrapper, .contact-form-wrapper {
  max-width: 390px;
  width: calc(100% / 2);
}

.contact-form-title {
    padding: 20px;
}

.contact-form, .register-form {
    padding: 20px;
    background-color: var(--dark-orange);
    margin-bottom: 40px;
    border-radius: 10px;
    max-width: 100%;
}

.contact-form input,
.contact-form select, 
.contact-form textarea,
.register-form input, 
.register-form select, 
.register-form textarea  {
  padding-left: 5px;
    margin-bottom: 5px;
    height: 35px;
    width: 100%
}

.contact-form select, 
.register-form select {
    margin-bottom: 5px;
    height: 35px;
    width: 100%;
}

.pass-checker {
  padding-left: 5px;
  margin: 0;
  background-color: var(--nav-color);
}

.valid {
  color: var(--dark-blue);
}

.invalid {
  color: red;  
}

.register-form textarea {
  margin-top: 20px;
  line-height: 30px;
  height: 100px;
  width: 100%;
}

.contact-form textarea {
    margin-top: 20px;
    line-height: 30px;
    height: 180px;
    width: 100%;
}

.contact-form button, 
.register-form button {
    height: 35px;
    width: 100%
}

@media (max-width: 760px) {
  .content-narrow-container {
    flex-direction: column;
    align-items: center;
    
  }
  .contact-form-wrapper, 
  .register-wrapper {
    width: 80vw;    
  }

  .welcome-gallery .img1-wrapper, 
  .welcome-gallery .img3-wrapper {
    display:none;
  }
}

/* ABOUT SECTION */

.about-narrow-container, 
.trails-narrow-container, 
.blog-narrow-container {
  width: 85vw;
  margin: 0 auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {  
  background-color: var(--light-orange);
  
}

.about-title {
  margin-bottom: 30px;
  font-size: 50px;
}

.about-picture1-wrapper, 
.about-picture2-wrapper, 
.about-description {
  width: 60vw;
  max-width: 600px;
  margin-bottom: 20px;
}

.my-bike, .me {
width: 100%;
height: 100%;
border-radius: 10px;
}



/* EVENTS AND TRAILS SECTION  */

.events-trails-title {
  margin-bottom: 30px;
  font-size: 50px;
}

.trails-description {
  width: 60vw;
  max-width: 600px;
  margin-bottom: 30px;
}

.events-wrapper {
  text-align: center;
  margin-bottom: 30px;
  }

  .events-title {
    margin-bottom: 20px;
  }

  .events-wrapper ul li {
display: block;
margin-bottom: 30px;
  }

  .trails-wrapper {
    width: 40%;
    text-align: center;
  }
  
  .trails-title,
  .adamov,
  .jedovnice,
  .palava {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 15px;
  }



  /* EVENTS TABLES  */

  .events-table1, .events-table2 {
    /* border-collapse: collapse; */
    border: 3px solid rgb(140 140 140);
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .events-table2 {
    display:none
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgba(228, 240, 245, 0.756);
  }
  
  th,
  td {
    border: 2px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(228, 240, 245, 0.756);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

  @media (max-width: 760px) {
    .events-table2 {
      display: block;
    }
    .events-table1 {
      display: none;
    }
  }


/* BLOG SECTION  */
.blog-section {
  background-color: var(--light-orange);
  text-align: center;
}

.blog-title {
  margin-bottom: 30px;
  font-size: 50px;
}

.blog-description {
  margin-bottom: 30px;
  width: 60vw;
  max-width: 600px;

}
.article1-wrapper {
  width: 60vw;
  max-width: 600px;
  margin-bottom: 20px;
  border: 2px solid ;
}

.article1-wrapper {
  width: 60vw;
  max-width: 600px;
  margin: 20px 0;
  padding:15px;
  border-radius: 10px  
}
.img-article {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  border-radius: 10px;
}






/* FOOTER */

footer {
    background-color: var(--light-blue);
    line-height: 60px;
    color: white;
    text-align: center;
    /* position: fixed;
    bottom: 0px;
    width: 100%; */
}

@media (max-width: 700px) {
  footer li.email {
    display: block;
  }
}