:root {
  --nav-color: white;
  --dark-blue: rgb(33, 28, 106);
  --light-blue: rgb(89, 180, 195);
  --green: rgb(116, 226, 145);
  --yellow: rgb(239, 243, 150);
  --dark-orange: rgb(255, 137, 17);
  --light-orange: rgb(251, 168, 52);
  --lightest-orange: rgba(251, 168, 52,0.5)
}

/* NEBOJÍM SE ZEPTAT !!!! 

Pokud nevím, nehádám. Hledám na webu nebo se zeptám lektorů přes Discord, 
nekoušou a jsou nápomocní ;)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER  */

.logo {
  flex-grow: 1;
}

.logo-wrap {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: whitesmoke;
  margin-left: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-blue);
  height: 70px;
}

header nav {
  margin-right: 10px;
  display: block;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
}

.dark-light {
  display: inline-block;
  margin-right: 30px;
}

.menu-icon {
  margin-right: 30px;
  display: none;
}

@media (max-width: 600px) {
  header {
    position: relative;
  }

  .menu-icon {
    display: block;
    color: whitesmoke;
    font-size: 25px;
  }

  .dark-light {
    display: block;
    text-align: right;
  }

  header nav {
    position: absolute;
    background-color: var(--light-blue);
    top: 70px;
    width: 100%;
    display: none ;
  }

  header nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 600px) {
  header nav{
    display: block !important;
  }
}

/* WELCOME SECTION  */

.welcome-section {
  height: calc(100vh - 70px);
  background-image: url("./images/doma/silnice-mraky-kojal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-title {
font-size: 60px;
margin-top: 20px;
margin-bottom: 15px;
}

.welcome-intro {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    width: 600px;
}

.welcome-gallery {
    background-color: rgba(89, 180, 195, 0.5);
    ;
    height: 300px;
    width: 1000px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img1-wrapper, .img2-wrapper, .img3-wrapper {
    width: 300px;
    height: 250px;
}
.img1-wrapper img,.img2-wrapper img,.img3-wrapper img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

/* CONTENT SECTION - FORM  */

main {
    
}
.content-section {   
    position: relative ; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightest-orange);
    ;
}

.content-section .fa-angles-up {
    position:absolute ;
    background-color: var(--dark-orange);
    border-radius: 10px;
    font-size: 25px;
    width: 50px;
    height: 70px;
    line-height: 70px;
    bottom: 20px;
    right: 30px
}

.contact-form-title {
    padding: 20px;
}

.contact-form-vip {
    padding: 20px;
    background-color: var(--dark-orange);
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-form-vip input {
    margin-bottom: 5px;
    height: 35px;
    width: 350px
}

.contact-form-vip select {
    margin-bottom: 5px;
    height: 35px;
    width: 350px;
}

.contact-form-vip textarea {
    margin-top: 20px;
    line-height: 30px;
    height: 200px;
    width: 350px;
}

.contact-form-vip button {
    height: 35px;
    width: 350px
}

/* FOOTER */

footer {
    background-color: var(--light-blue);
    line-height: 60px;
    color: white;
    text-align: center;
}


    
    
    
    /* POŽADAVKY  */

/* Tvým úkolem bude spojit všechny současné znalosti dohromady. 
Zároveň ti chceme ponechat prostor pro kreativitu. 
Tvým úkolem bude vytvořit webovou stránku, která bude splňovat následující požadavky:

1 - jednostránkový web
2 - web je možné přepínat do dark-modu a zpět do light-modu
3 - web obsahuje header, 2 sekce a footer
4 - v headeru je responzivní menu minimálně se 3 položkami
5 - obsah první sekce je na tobě, ale její součástí budou 3 obrázky vedle sebe, 
    které se po najetí myši budou plynule zvětšovat a po odjetí myši zmenšovat
6 - v druhé section bude umístěný formulář
7 - ve formuláři se bude 2x zadávat heslo a formulář bude kontrolovat shodu hesel
8 - po odscrollování směrem dolů se v pravém dolním rohu objeví ikonka zpět nahoru
9 - je na tobě, jestli chceš javascriptový kód zapsat procedurálně nebo objektově
10 - web by měl být responzivní
11 - snaž se, aby web graficky dobře vypadal (i když hodnocení vzhledu je vždy individuální)    */

/* TIPY  */

/* 1 - použij kódy, které byly v průběhu kurzu vytvořeny (např. responzivní menu, shodu emailů apod.) - jen je musíš upravit podle potřeby
2 - napodceňuj část před psaním kódu - vezmi tužku a papír (word, jakýkoli program) a načrtni si web, rozmysli jaké budou kroky
3 - přepínání mezi dark-modem a light-modem můžeš dělat kliknutím na tlačítko, text nebo např. div vytvarovaný do kolečka (stačí mu dát width, height a border-radius 50%) nebo jakkoli jinak
4 - nejdříve vytvoř responzivní web a poté přidej do stránky javascript
5 - zvol si téma webu, které tě bude bavit */


/* PODSTATA PROJEKTU  */
/* Tento projekt má otestovat skutečnou programátorskou práci, kdy musíš kombinovat více jazyků dohromady (HTML, CSS, JavaScript). Je zapotřebí si poradit s úpravou kódů, které máš již k dispozici, a použít je v dané situaci. Ta často vyžaduje úpravu kódů - někdy větší, někdy menší. Musíš si správně rozvrhnout práci - čím začneš a jaké budou další kroky. Do stránek budeš implementovat nové prvky, které v kurzu tvořeny nebyly, ale vše pro jejich vytvoření znáš (např. tlačítko zpět nahoru).

Pokud ti cokoli nepůjde, tak jako první zkus vyhledávat a googlit. Určitě se kdykoli můžeš zeptat na Discordu.

Užij si projekt a nezapomeň se na něm pořádně vyřádit. :) */

/* DODATEČNÉ INFO OD HODNOTÍCÍHO LEKTORA  */
/* Vaše projekty bude hodnotit lektor Šimon. Na základě minulých odevzdaných projektů sdílíme jeho postřehy a dodatečné informace. */

/* NA CO SI DÁT POZOR, JAK TO ŠIMON OPRAVUJE  */
/* Stránka funguje, obsahuje to, co má podle zadání obsahovat
K obrázkům, stylům a skriptům jsem dal správné souborové cesty (relativní s ./ na začátku - pozor na /, které má trochu jiný význam)
Použité je čisté CSS nebo nějaký CSS framework a pro spuštění je potřeba maximálně příkazů yarn, resp. npm install (žádná další konfigurace nebo pluginy do editoru)
Jinými slovy kdo si chce hrát (React, Vue, Typescript) může, ale ať to pochopí i Šimon :)

POKUD CHCI DOSTAT VÝBORNOU ZNÁMKU
Tmavý motiv přepínám pouze na jednom místě (třída na <body> nebo nějak podobně) a styly měním pomocí CSS hiearchie
Používám pouze element.addEventListener, žádné onClick atributy
Speciální pochvalu dostanu, pokud bude kód i vypadat */

/* NEBOJÍM SE ZEPTAT  */
/* Pokud nevím, nehádám. Hledám na webu nebo se zeptám lektorů přes Discord, nekoušou a jsou nápomocní ;) */





/* ANIMACE OBRÁZKU VYSTOUPENÍ DO POPŘEDÍ PO NAJETÍ MYŠI */

/* .img-wrapper {
    width: 50%;
    height: 440px;
    transition: transform 0.25s;
}

.img-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
} */;
